@import "../lib-common";

//选项卡
.aboutUs-tabBar {
  height:60px;
  line-height:60px;
  padding:40px 0;
  .border-bottom-base(#ccc);
  .aboutCurrent {
    width:500px;
    & > h4 {
      .fl;
      font-size:40px;
      font-weight:700;
      i {
        color:@red;
      }
    }
    & > span {
      .fl;
      .pos-r;
      padding:9px 0 9px 30px;
      line-height:20px;
      &:before {
        .before(4px, 4px);
        background-color:@red;
        left:15px;
      }
      b {
        .f18;
      }
      strong {
        .f12;
        .block;
        font-weight:normal;
      }
    }
  }
  .tab {
    .list-inline(left, 0);
    padding:14px 0;
    width:400px;
    .h-auto;
    li {
      .ml(16px);
      height:32px;
      line-height:32px;
      padding:0 10px;
      background-color:@base-color;
      & > a {
        .block;
        color:@white;
      }
      &.active {
        background-color:@red;
      }
    }
  }
}

//主要内容组件样式
.aboutUs-content {
  .pt(30px);
  .pb(80px);
  .h-auto;
  .title {
    .pd-v50;
    & > figcaption:first-child {
      width:380px;
      .m-auto(0, 0);
      & > h3 {
        .fl;
        font-size:44px;
        .mr(10px);
        display:inline-block;
        & + span {
          display:inline-block;
          line-height:22px;
          sup {
            .f10;
            .block;
            .mt(5px);
            width:50px;
            padding:0 5px;
            background-color:@red;
            color:@white;
          }
        }
      }
      &:not(.block) + p {
        .m-auto(30px, 30px);
        .text-center
      }
    }
    & ~ p {
      text-indent:2em;
      padding-bottom:15px;
    }
  }
  strong.tip {
    .f14;
    .pos-r;
    line-height:22px;
    display:inline-block;
    padding:0 5px;
    background-color:@base-color;
    color:@white;
    &:after {
      content:"";
      .pos-a;
      right:-22px;
      top:0;
      width:0;
      height:0;
      border-top:22px solid @base-color;
      border-right:22px solid transparent;
    }
  }
  &.grid-bg {
    background:url("@{bground}/gridBg.png") repeat #f8f8f8;
  }
}

//核心业务
.core-business {
  .list-inline(left, 0);
  li {
    .text-center;
    width:25%;
    box-sizing:border-box;
    padding:0 20px;
    & > label:only-of-type {
      .f18;
      .block;
      .pos-r;
      padding:15px 0;
      font-weight:600;
    }
    &:before {
      content:"";
      display:block;
      width:142px;
      height:142px;
      .m-auto(0, 20px);
      background-image:url("@{icon-4}");
    }
    &:nth-of-type(1):before {
      background-position:-432px 0;
    }
    &:nth-of-type(2):before {
      background-position:-144px 0;
    }
    &:nth-of-type(3):before {
      background-position:0 0;
    }
    &:nth-of-type(4):before {
      background-position:-288px 0;
    }
  }
}

.columns-2 {
  padding:80px 0;
  .clearfix;
  & > .container > .fl,
  & > .container > .fr {
    width:50%;
    .title {
      .mt(60px);
      p:last-of-type {
        .pl(110px);
        .pt(30px);
      }
    }
  }
  .imgBox {
    & > img:only-child {
      .block;
      .m-auto(0, 0);
    }
  }
}

.description-text {
  .wrapper(120px, 120px);
  .box {
    & > label,
    & > h3,
    & > .text {
      display:table-cell;
      vertical-align:middle;
    }
    & > label {
      height:46px;
      i {
        .f10;
<<<<<<< HEAD
        .mb(5px);
=======
>>>>>>> origin/master
        background-color:@red;
        color:@white;
        padding:3px;
        display:block;
      }
    }

    & > h3 {
      .border-right-base(#d7d7d7);
      .text-center;
      height:46px;
      line-height:46px;
      font-size:44px;
      width:120px;
    }
    & > .text {
      .pl(20px);
<<<<<<< HEAD
      p {
        .f12;
        .pt(15px);
      }
=======
>>>>>>> origin/master
    }
  }
}

.ourCulture-table {
  .wrapper(0, 130px);
  table {
    td {
      color:@white;
      img:only-child {
        .block;
      }
      section:only-child {
        padding:0 15px;
        label {
          .f18;
        }
        p {
          padding:5px 0;
          .f14;
        }
      }
    }
    tr:first-of-type {
      td {
        &:nth-of-type(2) {
          background-color:rgba(94, 94, 94, 1);
        }
        &:nth-of-type(4) {
          background-color:rgba(173, 157, 144, 1);
        }
        &:nth-of-type(6) {
          background-color:rgba(175, 175, 175, 1);
        }
      }
      & + tr {
        td {
          &:nth-of-type(1) {
            background-color:rgba(132, 120, 110, 1);
          }
          &:nth-of-type(3) {
            background-color:rgba(142, 142, 142, 1);
          }
          &:nth-of-type(5) {
            background-color:rgba(73, 92, 96, 1);
          }
        }
      }
    }
  }
}

//发展历程
.development-timeline {
  .pb(160px);
  .h-auto;
  .box {
    overflow:visible;
    .pt(120px);
    & > time,
    & > .line,
    & > .shop-view {
      display:table-cell;
      vertical-align:middle;
      li {
        img {
          display:block
        }
      }
    }
    //时间轴
    & > time {
      .f24;
      width:120px;
      text-transform:uppercase;
    }

    //装饰线
    & > .line {
      .pos-r;
      width:105px;
      & > em {
        .block;
        .m-auto(0, 0);
        height:200px;
        width:5px;
        background:#ccc;
        &:before,
        &:after {
          .after(12px, 12px);
          background:inherit;
          border-radius:percentage(@half);
        }
        &:before {
          top:-12px;
        }
        &:after {
          top:auto;
          bottom:-18px;
        }
      }
    }

    //店铺展示
    & > .shop-view {
      .list-inline(left, 22px);
      li:last-of-type {
        .mr(0)
      }
      & > p:last-of-type {
        .pt(15px);
      }
    }
  }
}
<<<<<<< HEAD

//我们的团队
#team-show {
  .list-inline(left, 86px);
  .pb(100px);
  li {
    width:228px;
    height:404px;
    .mb(60px);
    & > section:not(:first-child),
    & > .team-speak {
      .pt(20px);
    }
    &:nth-of-type(4n) {
      .mr(0);
    }

    & > .team-speak {
      height:64px;
      max-height:64px;
      overflow:hidden;
      .ellipsis(2);
    }
    //  查看详情
    & > button {
      .mt(20px);
      padding:2px 5px;
      #link-defalt.base(@white, @white, normal);
      background-color:@base-color;
      &:hover {
        background-color:@red;
      }
    }
  }
  //照片
  .team-pic {
    border-radius:50%;
    border:5px solid #00b9d1;
    overflow:hidden;
    width:168px;
    height:168px;
    img {
      width:168px;
      height:168px;
    }
  }
  //职位
  .team-title {
    .f16;
  }
}

//弹出框
#team-pop-wrap {
  .pos-f;
  .container;
  display:table;
  padding:50px;
  box-sizing:border-box;
  background-color:@white;
  box-shadow:0 5px 10px rgba(36, 36, 36, .15);
  top:50%;
  left:50%;
  z-index:999;
  margin:-270px 0 0 -585px;
  & > .box {
    display:table-cell;
    .fl;
  }
  & > .people-pic {
    width:285px;
  }
  //人物信息
  & > .people-info {
    width:785px;
    box-sizing:border-box;
    padding:40px;
    //职位
    .people-title {
      .f24;
      .mb(20px);
    }
    //简介
    .people-info {
      line-height:2;
      .mb(36px);
    }
    //格言
    .people-speak {
      p {
        .pt(20px);
      }
    }
  }
}
=======
>>>>>>> origin/master
