@import "../lib-common";

#cases {
  .wrapper(20px, 180px);
  .wrapper {
    .wrapper(160px, 20px);
    .pos-r;
    &:after {
      .after(34px, 21px);
      background:url("@{icon-3}") no-repeat 0;
      top:auto;
      bottom:0;
    }
    &:last-of-type {
      &:after {
        .hide;
      }
    }
  }
  .box {
    .lt {
      .fl;
      .pr(35px)
    }
    .rt {
      .fr;
      .pl(35px)
    }
    .lt,
    .rt {
      display:table-cell;
      box-sizing:border-box;
      width:50%;
      height:370px;
      h3 {
        font-size:40px;
      }
      p {
        .f14;
        .pt(20px);
      }
    }
    .pro-text {
      h3 {
        .fl;
      }
      & > span {
        .pos-r;
        &:before {
          .before(6px, 6px);
          background-color:@red;
          left:8px;
        }
        .fl;
        padding:8px 0 0 20px;
        label {
          .block;
          line-height:20px;
        }
        sub {
          .f12;
        }
      }
    }
  }
  .case-client {
    .list-inline(left, 0);
    .pb(100px);
    .title {
      .mb(30px);
    }
    li {
      width:20%;
      .mt(30px);
      line-height:20px;
      //&:nth-of-type(5n+1) {
      //  .text-left;
      //}
      //&:nth-of-type(5n) {
      //  .text-right;
      //}
    }
  }
}

//左侧导航
#menuBar {
  .pos-f;
  z-index:999;
  .mt(-260px);
  box-sizing:border-box;
  padding:20px 0;
  left:0;
  top:50%;
  width:110px;
  height:520px;
  background-color:rgba(61, 61, 61, .95);
  li {
    .f14;
    color:@white;
    height:34px;
    padding:7px 0 7px 14px;
    line-height:1.4;
    cursor:pointer;
    small {
      .block;
      .f10;
    }
    &.current {
      .pos-r;
      width:110px;
      background-color:rgba(211, 51, 49, 1);
      &:after {
        .after(16px, 6px);
        background:url("@{icon-3}") no-repeat  -34px 0;
        top:auto;
        right:0;
        bottom:-6px;
        left:auto;
      }
    }
  }
}



