@import "lib-reset";
//RESET
body {
  .f16;
  font-family:"微软雅黑", sans-serif;
  color:rgba(51, 51, 51, 1);
  line-height:1.4;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -moz-font-feature-settings:"liga" on;
}

/* VARIABLE*/
@half:0.5;
@whole:1;

/*ICON*/
@images:"../img/"; //图片路径
@bground:"../img/bground"; //背景路径
@icon-1:"../img/icon-1.png";
@icon-2:"../img/icon-2.png";
@icon-3:"../img/icon-3.png";
@icon-4:"../img/icon-4.png";
@icon-5:"../img/icon-5.png";
@icon-6:"../img/icon-6.png";
@icon-7:"../img/icon-7.png";
@icon-8:"../img/icon-8.png";
@icon-arr:"../img/icon-arr.png";

.response-img {
  max-width:100%;
  .block;
  .m-auto(0, 0);
}

.icon-fb:before {
  //width: 48px;
  background:url("@{icon-1}") no-repeat -288px -150px;
}

.icon-qq:before {
  background:url("@{icon-1}") no-repeat -259px -202px;
}

.icon-tel:before {
  background:url("@{icon-1}") no-repeat -288px -94px;
}

.icon-wechat:before {
  //width: 30px;
  background:url("@{icon-1}") no-repeat -311px -204px;
}

.icon-backtop:before {
  //width: 28px;
  background:url("@{icon-1}") no-repeat -233px -230px;
}

.icon-Q:before {
  background:url("@{icon-1}") no-repeat -174px -152px;
}

.icon-C:before {
  background:url("@{icon-1}") no-repeat 0 -152px;
}

.icon-P:before {
  background:url("@{icon-1}") no-repeat -58px -152px;
}

.icon-E:before {
  background:url("@{icon-1}") no-repeat -116px -152px;
}

/* LAYOUT  STYLE*/

//基础盒
.container {
  .m-auto(0, 0);
  width:1170px;
  height:auto;
  overflow:hidden
}

//遮罩
#mask {
  .pos-f;
  z-index:99;
  content:"";
  left:0;
  top:0;
  right:0;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, .75);
}

//清除浮动
.clearfix {
  zoom:1;
  &:before {
    content:'';
    display:block;
  }
  &:after {
    content:'';
    display:table;
    clear:both;
  }
}

.block {
  display:block;
}

.hide {
  display:none;
}

.h-auto {
  height:auto;
  overflow:hidden;
}

//定位
.pos-f {
  position:fixed;
}

.pos-r {
  position:relative;
}

.pos-a {
  position:absolute;
}

//居中
.m-auto(@top, @btm) {
  margin:@top auto @btm auto;
}

.center-middle(@width, @height) {
  .mt(-(round(@height/2)));
  .ml(-(round(@width/2)));
  top:percentage(@half);
  left:percentage(@half);
  width:@width;
  height:@height;
}

.after(@width, @height) {
  .pos-a;
  content:"";
  .mt(-(round(@height/2)));
  .ml(-(round(@width/2)));
  top:percentage(@half);
  left:percentage(@half);
  width:@width;
  height:@height;
}

.before(@width, @height) {
  .pos-a;
  content:"";
  .mt(-(round(@height/2)));
  .ml(-(round(@width/2)));
  top:percentage(@half);
  left:percentage(@half);
  width:@width;
  height:@height;
}

//浮动
.fl {
  float:left;
}

.fr {
  float:right;
}

//间距
.pd-v50 {
  padding:50px 0;
}

.pd-h50 {
  padding:0 50px;
}

.mt(@margin-top) {
  margin-top:@margin-top
}

.mr(@margin-right) {
  margin-right:@margin-right
}

.mb(@margin-bottom) {
  margin-bottom:@margin-bottom
}

.ml(@margin-left) {
  margin-left:@margin-left
}

.pt(@padding-top) {
  padding-top:@padding-top
}

.pr(@padding-right) {
  padding-right:@padding-right
}

.pb(@padding-bottom) {
  padding-bottom:@padding-bottom;
}

.pl(@padding-left) {
  padding-left:@padding-left;
}

.border-base(@color) {
  border:1px solid @color;
}

.border-top-base(@color) {
  border-top:1px solid @color;
}

.border-right-base(@color) {
  border-right:1px solid @color;
}

.border-bottom-base(@color) {
  border-bottom:1px solid @color;
}

.border-left-base(@color) {
  border-left:1px solid @color;
}

.list-inline(@float-direction, @margin-right) {
  dl,
  li {
    float:@float-direction;
    margin-right:@margin-right
  }
  .clearfix;
}

.toTable {
  height:auto;
  overflow:hidden;
  width:percentage(@whole);
  display:table;
  & > .lt,
  & > .rt {
    display:table-cell;
    vertical-align:middle;
  }
}

/*LINK  STYLE*/
#link-defalt {
  color:#00b9d1;
  display:block;
  &:hover {
    color:#69f
  }
  .main-nav {
    display:block;
    border-bottom:#da271b solid 6px;
    &:hover {
      background-color:red
    }
  }
  .base(@color, @toColor, @fontWeight) {
    color:@color;
    &:hover {
      font-weight:@fontWeight;
      color:@toColor;
    }
  }
}


/*TEXT STYLE*/
.font(@font-size, @font-family, @weight) {
  font-size:@font-size;
  font-family:@font-family;
  font-style:normal;
  font-weight:@weight;
}

p{
  .fontSong;
}
.fontSong {
  font-family:"STSongti-SC-Light", "宋体", "微软雅黑", sans-serif;
  line-height:1.6;
}

.text-center {
  text-align:center;
}

.text-left {
  text-align:left;
}

.text-right {
  text-align:right;
}

.f10 {
  font-size:10px
}

.f12 {
  font-size:12px
}

.f14 {
  font-size:14px
}

.f16 {
  font-size:16px
}

.f18 {
  font-size:18px
}

.f20 {
  font-size:20px
}

.f24 {
  font-size:24px
}

.f26 {
  font-size:26px
}

.f28 {
  font-size:28px
}

.f32 {
  font-size:32px
}

.ellipsis(@line) {
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-line-clamp:@line;
  -webkit-box-orient:vertical;
}

/* FONT COLOR*/
@base-color:rgba(51, 51, 51, 1);
@white:rgba(255, 255, 255, 1);
@red:rgba(211, 51, 49, 1);

/*SNIPPET*/

.wrap {
  .wrapper(110px, 80px);
  height:auto;
  .title {
    figcaption {
      h3 {
        .pos-r;
        .m-auto(0, 0);
        .font(28px, "微软雅黑", 400);
        .border-bottom-base(#e1e1e1);
        display:inline-block;
        padding:0 90px 20px;
        &:after {
          .after(70px, 3px);
          background-color:@red;
          top:auto;
          bottom:-2px;
        }
      }
    }
    //反白
    &.reversion {
      figcaption {
        h3 {
          color:@white;
          .border-bottom-base(@white);
          &:after {
            background-color:@white;
          }
        }
      }
      p {
        color:@white;
      }
    }
    //副标题
    & > p {
      .fontSong;
      .text-center;
      .pt(20px);
    }
  }

  // 更多
  .more {
    display:inline-block;
    & > a {
      color:@base-color;
    }
    &:after {
      content:"";
      .fr;
      .mt(4px);
      .ml(5px);
      color:@base-color;
      background:url("@{icon-1}") no-repeat -343px -26px;
      display:block;
      width:14px;
      height:14px;
    }
    &:hover {
      text-decoration:underline;
      &:after {
        background:url("@{icon-1}") no-repeat -343px 0;
      }
    }
  }
}

.wrapper(@paddingTop,@paddingBtm) {
  padding:@paddingTop 0 @paddingBtm 0;
  .h-auto;
}