/*
     CSS Reset
理念：1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
     2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
     3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
sub,
sup,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
/* ------- HTML5 display-role reset for older browsers ------- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
/** 设置默认字体 **/
body,
button,
input,
select,
textarea {
  font-size: 12px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
/* 将斜体扶正 */
code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}
/* 统一等宽字体 */
small {
  font-size: 12px;
}
/* 小于 12px 的中文很难阅读，让 small 正常化 */
address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
}
:focus {
  outline: 0;
}
small {
  font-size: 12px;
}
ul,
ol,
dl {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  outline: 0;
}
fieldset,
img {
  margin: 0;
  padding: 0;
  border: none;
}
a,
img {
  -webkit-touch-callout: none;
  /* 禁止长按链接与图片弹出菜单 */
}
html,
body {
  -webkit-user-select: none;
  /* 禁止选中文本（如无文本选中需求，此为必选项） */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}
p {
  text-align: justify;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
}
input,
button,
textarea {
  list-style-type: none;
  cursor: pointer;
  border: 0;
}
input:focus {
  outline: none;
}
ins {
  display: none;
  text-decoration: none;
}
/** 重置表单元素 **/
legend {
  color: #000;
}
/* for ie6 */
fieldset,
img {
  border: 0;
}
/* img 搭车：让链接里的 img 无边框 */
button,
input,
select,
textarea {
  font-size: 100%;
}
/* 使得表单元素在 ie 下能继承字体大小 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
body {
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.8);
  font-family: "微软雅黑", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
body {
  font-size: 16px;
  font-family: "微软雅黑";
  font-style: normal;
  font-weight: normal;
  color: #333333;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
.response-img {
  max-width: 100%;
  display: block;
  margin: 0 auto 0 auto;
}
.icon-fb:before {
  background: url("../img/icon-1.png") no-repeat -288px -150px;
}
.icon-qq:before {
  background: url("../img/icon-1.png") no-repeat -288px -94px;
}
.icon-tel:before {
  background: url("../img/icon-1.png") no-repeat -259px -202px;
}
.icon-wechat:before {
  background: url("../img/icon-1.png") no-repeat -311px -204px;
}
.icon-backtop:before {
  background: url("../img/icon-1.png") no-repeat -233px -230px;
}
.icon-Q:before {
  background: url("../img/icon-1.png") no-repeat -174px -152px;
}
.icon-C:before {
  background: url("../img/icon-1.png") no-repeat 0 -152px;
}
.icon-P:before {
  background: url("../img/icon-1.png") no-repeat -58px -152px;
}
.icon-E:before {
  background: url("../img/icon-1.png") no-repeat -116px -152px;
}
.container {
  margin: 0 auto 0 auto;
  width: 1170px;
  height: auto;
  overflow: hidden;
}
.pd-v50 {
  padding: 50px 0;
}
.pd-h50 {
  padding: 0 50px;
}
.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: '';
  display: block;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.block {
  display: block;
}
.hide {
  display: none;
}
.h-auto {
  height: auto;
  overflow: hidden;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.pos-f {
  position: fixed;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.toTable {
  height: auto;
  overflow: hidden;
  width: 100%;
  display: table;
}
#link-defalt {
  color: #00b9d1;
  display: block;
}
#link-defalt:hover {
  color: #6699ff;
}
#link-defalt .main-nav {
  display: block;
  border-bottom: #da271b solid 6px;
}
#link-defalt .main-nav:hover {
  background-color: #ff0000;
}
.f10 {
  font-size: 10px;
}
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f24 {
  font-size: 24px;
}
.f32 {
  font-size: 32px;
}
.wrap {
  padding: 120px 0;
  height: auto;
}
.wrap .title figcaption h3 {
  position: relative;
  margin: 0 auto 0 auto;
  font-size: 28px;
  font-family: "微软雅黑";
  font-style: normal;
  font-weight: 400;
  border-bottom: 1px solid #e1e1e1;
  display: inline-block;
  padding: 0 90px 20px;
}
.wrap .title figcaption h3:after {
  position: absolute;
  content: "";
  margin-top: -2px;
  margin-left: -35px;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 3px;
  background-color: #d33331;
  top: auto;
  bottom: -2px;
}
.wrap .title.reversion figcaption h3 {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.wrap .title.reversion figcaption h3:after {
  background-color: #ffffff;
}
.wrap .title.reversion p {
  color: #ffffff;
}
.wrap p {
  text-align: center;
  padding-top: 20px;
}
.wrap .more {
  display: inline-block;
}
.wrap .more > a {
  color: #333333;
}
.wrap .more:after {
  content: "";
  float: right;
  margin-top: 4px;
  margin-left: 5px;
  color: #333333;
  background: url("../img/icon-1.png") no-repeat -343px -26px;
  display: block;
  width: 14px;
  height: 14px;
}
.wrap .more:hover {
  text-decoration: underline;
}
.wrap .more:hover:after {
  background: url("../img/icon-1.png") no-repeat -343px 0;
}
.aboutUs-tabBar {
  height: 60px;
  line-height: 60px;
  padding: 40px 0;
  border-bottom: 1px solid #cccccc;
}
.aboutUs-tabBar .aboutCurrent {
  width: 500px;
}
.aboutUs-tabBar .aboutCurrent > h4 {
  float: left;
  font-size: 40px;
  font-weight: 700;
}
.aboutUs-tabBar .aboutCurrent > h4 i {
  color: #d33331;
}
.aboutUs-tabBar .aboutCurrent > span {
  float: left;
  position: relative;
  padding: 9px 0 9px 30px;
  line-height: 20px;
}
.aboutUs-tabBar .aboutCurrent > span:before {
  position: absolute;
  content: "";
  margin-top: -2px;
  margin-left: -2px;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background-color: #d33331;
  left: 15px;
}
.aboutUs-tabBar .aboutCurrent > span b {
  font-size: 18px;
}
.aboutUs-tabBar .aboutCurrent > span strong {
  font-size: 12px;
  display: block;
  font-weight: normal;
}
.aboutUs-tabBar .tab {
  zoom: 1;
  padding: 14px 0;
  width: 400px;
  height: auto;
  overflow: hidden;
}
.aboutUs-tabBar .tab dl,
.aboutUs-tabBar .tab li {
  float: left;
  margin-right: 0;
}
.aboutUs-tabBar .tab:before {
  content: '';
  display: block;
}
.aboutUs-tabBar .tab:after {
  content: '';
  display: table;
  clear: both;
}
.aboutUs-tabBar .tab li {
  margin-left: 16px;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  background-color: #333333;
}
.aboutUs-tabBar .tab li > a {
  display: block;
  color: #ffffff;
}
.aboutUs-tabBar .tab li.active {
  background-color: #d33331;
}
.aboutUs-content {
  padding-top: 30px;
  padding-bottom: 80px;
  height: auto;
  overflow: hidden;
}
.aboutUs-content .title {
  padding: 50px 0;
}
.aboutUs-content .title > figcaption:first-child {
  width: 380px;
  margin: 0 auto 0 auto;
}
.aboutUs-content .title > figcaption:first-child > h3 {
  float: left;
  font-size: 44px;
  margin-right: 10px;
  display: inline-block;
}
.aboutUs-content .title > figcaption:first-child > h3 + span {
  display: inline-block;
  line-height: 22px;
}
.aboutUs-content .title > figcaption:first-child > h3 + span sup {
  font-size: 10px;
  display: block;
  margin-top: 5px;
  width: 50px;
  padding: 0 5px;
  background-color: #d33331;
  color: #ffffff;
}
.aboutUs-content .title > figcaption:first-child:not(.block) + p {
  margin: 30px auto 30px auto;
  text-align: center;
}
.aboutUs-content .title ~ p {
  text-indent: 2em;
  padding-bottom: 15px;
}
.aboutUs-content strong.tip {
  font-size: 14px;
  position: relative;
  line-height: 22px;
  display: inline-block;
  padding: 0 5px;
  background-color: #333333;
  color: #ffffff;
}
.aboutUs-content strong.tip:after {
  content: "";
  position: absolute;
  right: -22px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 22px solid #333333;
  border-right: 22px solid transparent;
}
.aboutUs-content.grid-bg {
  background: url("../img/bground/gridBg.png") repeat #f8f8f8;
}
.core-business {
  zoom: 1;
}
.core-business dl,
.core-business li {
  float: left;
  margin-right: 0;
}
.core-business:before {
  content: '';
  display: block;
}
.core-business:after {
  content: '';
  display: table;
  clear: both;
}
.core-business li {
  text-align: center;
  width: 25%;
  box-sizing: border-box;
  padding: 0 20px;
}
.core-business li > label:only-of-type {
  font-size: 18px;
  display: block;
  position: relative;
  padding: 15px 0;
  font-weight: 600;
}
.core-business li:before {
  content: "";
  display: block;
  width: 142px;
  height: 142px;
  margin: 0 auto 20px auto;
  background-image: url("../img/icon-4.png");
}
.core-business li:nth-of-type(1):before {
  background-position: -432px 0;
}
.core-business li:nth-of-type(2):before {
  background-position: -144px 0;
}
.core-business li:nth-of-type(3):before {
  background-position: 0 0;
}
.core-business li:nth-of-type(4):before {
  background-position: -288px 0;
}
.columns-2 {
  padding: 80px 0;
  zoom: 1;
}
.columns-2:before {
  content: '';
  display: block;
}
.columns-2:after {
  content: '';
  display: table;
  clear: both;
}
.columns-2 > .container > .fl,
.columns-2 > .container > .fr {
  width: 50%;
}
.columns-2 > .container > .fl .title,
.columns-2 > .container > .fr .title {
  margin-top: 60px;
}
.columns-2 > .container > .fl .title p:last-of-type,
.columns-2 > .container > .fr .title p:last-of-type {
  padding-left: 110px;
  padding-top: 30px;
}
.columns-2 .imgBox > img:only-child {
  display: block;
  margin: 0 auto 0 auto;
}
.description-text {
  padding: 120px 0 120px 0;
  height: auto;
  overflow: hidden;
}
.description-text .box > label,
.description-text .box > h3,
.description-text .box > .text {
  display: table-cell;
  vertical-align: middle;
}
.description-text .box > label {
  height: 46px;
}
.description-text .box > label i {
  font-size: 10px;
  background-color: #d33331;
  color: #ffffff;
  padding: 3px;
  display: block;
}
.description-text .box > h3 {
  border-right: 1px solid #d7d7d7;
  text-align: center;
  height: 46px;
  line-height: 46px;
  font-size: 44px;
  width: 120px;
}
.description-text .box > .text {
  padding-left: 20px;
}
.ourCulture-table {
  padding: 0 0 130px 0;
  height: auto;
  overflow: hidden;
}
.ourCulture-table table td {
  color: #ffffff;
}
.ourCulture-table table td img:only-child {
  display: block;
}
.ourCulture-table table td section:only-child {
  padding: 0 15px;
}
.ourCulture-table table td section:only-child label {
  font-size: 18px;
}
.ourCulture-table table td section:only-child p {
  padding: 5px 0;
  font-size: 14px;
}
.ourCulture-table table tr:first-of-type td:nth-of-type(2) {
  background-color: #5e5e5e;
}
.ourCulture-table table tr:first-of-type td:nth-of-type(4) {
  background-color: #ad9d90;
}
.ourCulture-table table tr:first-of-type td:nth-of-type(6) {
  background-color: #afafaf;
}
.ourCulture-table table tr:first-of-type + tr td:nth-of-type(1) {
  background-color: #84786e;
}
.ourCulture-table table tr:first-of-type + tr td:nth-of-type(3) {
  background-color: #8e8e8e;
}
.ourCulture-table table tr:first-of-type + tr td:nth-of-type(5) {
  background-color: #495c60;
}
.development-timeline {
  padding-bottom: 160px;
  height: auto;
  overflow: hidden;
}
.development-timeline .box {
  overflow: visible;
  padding-top: 120px;
}
.development-timeline .box > time,
.development-timeline .box > .line,
.development-timeline .box > .shop-view {
  display: table-cell;
  vertical-align: middle;
}
.development-timeline .box > time li img,
.development-timeline .box > .line li img,
.development-timeline .box > .shop-view li img {
  display: block;
}
.development-timeline .box > time {
  font-size: 24px;
  width: 120px;
  text-transform: uppercase;
}
.development-timeline .box > .line {
  position: relative;
  width: 105px;
}
.development-timeline .box > .line > em {
  display: block;
  margin: 0 auto 0 auto;
  height: 200px;
  width: 5px;
  background: #ccc;
}
.development-timeline .box > .line > em:before,
.development-timeline .box > .line > em:after {
  position: absolute;
  content: "";
  margin-top: -6px;
  margin-left: -6px;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background: inherit;
  border-radius: 50%;
}
.development-timeline .box > .line > em:before {
  top: -12px;
}
.development-timeline .box > .line > em:after {
  top: auto;
  bottom: -18px;
}
.development-timeline .box > .shop-view {
  zoom: 1;
}
.development-timeline .box > .shop-view dl,
.development-timeline .box > .shop-view li {
  float: left;
  margin-right: 22px;
}
.development-timeline .box > .shop-view:before {
  content: '';
  display: block;
}
.development-timeline .box > .shop-view:after {
  content: '';
  display: table;
  clear: both;
}
.development-timeline .box > .shop-view li:last-of-type {
  margin-right: 0;
}
.development-timeline .box > .shop-view > p:last-of-type {
  padding-top: 15px;
}
