/*
     CSS Reset
理念：1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
     2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
     3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
/* ------- HTML5 display-role reset for older browsers ------- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
/** 设置默认字体 **/
body,
button,
input,
select,
textarea {
  font-size: 12px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
/* 将斜体扶正 */
code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}
/* 统一等宽字体 */
small {
  font-size: 12px;
}
/* 小于 12px 的中文很难阅读，让 small 正常化 */
address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
}
:focus {
  outline: 0;
}
small {
  font-size: 12px;
}
ul,
ol,
dl {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  outline: 0;
}
fieldset,
img {
  margin: 0;
  padding: 0;
  border: none;
}
a,
img {
  -webkit-touch-callout: none;
  /* 禁止长按链接与图片弹出菜单 */
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}
p {
  text-align: justify;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
}
input,
button,
textarea {
  list-style-type: none;
  cursor: pointer;
  border: 0;
}
input:focus {
  outline: none;
}
ins {
  display: none;
  text-decoration: none;
}
/** 重置表单元素 **/
legend {
  color: #000;
}
/* for ie6 */
fieldset,
img {
  border: 0;
}
/* img 搭车：让链接里的 img 无边框 */
button,
input,
select,
textarea {
  font-size: 100%;
}
/* 使得表单元素在 ie 下能继承字体大小 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
body {
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.8);
  font-family: "微软雅黑", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
::selection {
  color: #fff;
  background-color: #da271b;
}
body {
  font-size: 16px;
  font-family: "微软雅黑", sans-serif;
  color: #333333;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
/* VARIABLE*/
/*ICON*/
.response-img {
  max-width: 100%;
  display: block;
  margin: 0 auto 0 auto;
}
.icon-fb:before {
  background: url("../img/icon-1.png") no-repeat -288px -150px;
}
.icon-qq:before {
  background: url("../img/icon-1.png") no-repeat -259px -202px;
}
.icon-tel:before {
  background: url("../img/icon-1.png") no-repeat -288px -94px;
}
.icon-wechat:before {
  background: url("../img/icon-1.png") no-repeat -311px -204px;
}
.icon-backtop:before {
  background: url("../img/icon-1.png") no-repeat -233px -230px;
}
.icon-Q:before {
  background: url("../img/icon-1.png") no-repeat -174px -152px;
}
.icon-C:before {
  background: url("../img/icon-1.png") no-repeat 0 -152px;
}
.icon-P:before {
  background: url("../img/icon-1.png") no-repeat -58px -152px;
}
.icon-E:before {
  background: url("../img/icon-1.png") no-repeat -116px -152px;
}
/* LAYOUT  STYLE*/
.container {
  margin: 0 auto 0 auto;
  width: 1170px;
  height: auto;
  overflow: hidden;
}
#mask {
  position: fixed;
  z-index: 99;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: '';
  display: block;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.block {
  display: block;
}
.hide {
  display: none;
}
.h-auto {
  height: auto;
  overflow: hidden;
}
.pos-f {
  position: fixed;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.pd-v50 {
  padding: 50px 0;
}
.pd-h50 {
  padding: 0 50px;
}
.toTable {
  height: auto;
  overflow: hidden;
  width: 100%;
  display: table;
}
.toTable > .lt,
.toTable > .rt {
  display: table-cell;
  vertical-align: middle;
}
/*LINK  STYLE*/
#link-defalt {
  color: #00b9d1;
  display: block;
}
#link-defalt:hover {
  color: #6699ff;
}
#link-defalt .main-nav {
  display: block;
  border-bottom: #da271b solid 6px;
}
#link-defalt .main-nav:hover {
  background-color: #ff0000;
}
/*TEXT STYLE*/
p,
.fontSong {
  font-family: "STSongti-SC-Light", "宋体", "微软雅黑", sans-serif;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.f10 {
  font-size: 10px;
}
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f24 {
  font-size: 24px;
}
.f26 {
  font-size: 26px;
}
.f28 {
  font-size: 28px;
}
.f32 {
  font-size: 32px;
}
/* FONT COLOR*/
/*SNIPPET*/
.wrap {
  padding: 110px 0 80px 0;
  overflow: hidden;
  height: auto;
}
.wrap .title figcaption h3 {
  position: relative;
  margin: 0 auto 0 auto;
  font-size: 28px;
  font-family: "微软雅黑";
  font-style: normal;
  font-weight: 400;
  border-bottom: 1px solid #e1e1e1;
  display: inline-block;
  padding: 0 90px 20px;
}
.wrap .title figcaption h3:after {
  position: absolute;
  content: "";
  margin-top: -2px;
  margin-left: -35px;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 3px;
  background-color: #d33331;
  top: auto;
  bottom: -2px;
}
.wrap .title.reversion figcaption h3 {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.wrap .title.reversion figcaption h3:after {
  background-color: #ffffff;
}
.wrap .title.reversion p {
  color: #ffffff;
}
.wrap .title > p {
  font-family: "STSongti-SC-Light", "宋体", "微软雅黑", sans-serif;
  text-align: center;
  padding-top: 20px;
}
.wrap .more {
  display: inline-block;
}
.wrap .more > a {
  color: #333333;
}
.wrap .more:after {
  content: "";
  float: right;
  margin-top: 4px;
  margin-left: 5px;
  color: #333333;
  background: url("../img/icon-1.png") no-repeat -343px -26px;
  display: block;
  width: 14px;
  height: 14px;
}
.wrap .more:hover {
  text-decoration: underline;
}
.wrap .more:hover:after {
  background: url("../img/icon-1.png") no-repeat -343px 0;
}
#cases {
  padding: 20px 0 180px 0;
  height: auto;
  overflow: hidden;
}
#cases .wrapper {
  padding: 160px 0 20px 0;
  height: auto;
  overflow: hidden;
  position: relative;
}
#cases .wrapper:after {
  position: absolute;
  content: "";
  margin-top: -11px;
  margin-left: -17px;
  top: 50%;
  left: 50%;
  width: 34px;
  height: 21px;
  background: url("../img/icon-3.png") no-repeat 0;
  top: auto;
  bottom: 0;
}
#cases .wrapper:last-of-type:after {
  display: none;
}
#cases .box .lt {
  float: left;
  padding-right: 35px;
}
#cases .box .rt {
  float: right;
  padding-left: 35px;
}
#cases .box .lt,
#cases .box .rt {
  display: table-cell;
  box-sizing: border-box;
  width: 50%;
  height: 370px;
}
#cases .box .pro-text h3 {
  float: left;
  font-size: 40px;
}
#cases .box .pro-text > span {
  position: relative;
  float: left;
  padding: 8px 0 0 20px;
}
#cases .box .pro-text > span:before {
  position: absolute;
  content: "";
  margin-top: -3px;
  margin-left: -3px;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background-color: #d33331;
  left: 9px;
}
#cases .box .pro-text > span label {
  font-size: 18px;
  display: block;
  font-weight: 700;
  line-height: 20px;
}
#cases .box .pro-text > span sub {
  font-family: "STSongti-SC-Light", "宋体", "微软雅黑", sans-serif;
  font-size: 14px;
}
#cases .box .pro-text ~ p {
  font-size: 14px;
  font-family: "STSongti-SC-Light", "宋体", "微软雅黑", sans-serif;
  line-height: 2;
  padding-top: 20px;
}
#cases .box .pro-text ~ p > label:first-child {
  display: block;
  font-weight: 600;
}
#cases .case-client {
  zoom: 1;
  padding-bottom: 100px;
}
#cases .case-client dl,
#cases .case-client li {
  float: left;
  margin-right: 0;
}
#cases .case-client:before {
  content: '';
  display: block;
}
#cases .case-client:after {
  content: '';
  display: table;
  clear: both;
}
#cases .case-client .title {
  margin-bottom: 30px;
}
#cases .case-client li {
  font-family: "STSongti-SC-Light", "宋体", "微软雅黑", sans-serif;
  width: 20%;
  margin-top: 30px;
  line-height: 20px;
}
#menuBar {
  position: fixed;
  z-index: 999;
  margin-top: -200px;
  box-sizing: border-box;
  padding: 20px 0;
  left: 0;
  top: 50%;
  width: 80px;
  height: 475px;
  background-color: rgba(61, 61, 61, 0.95);
}
#menuBar li {
  font-size: 14px;
  color: #ffffff;
  height: 34px;
  padding: 4px 0 4px 14px;
  text-indent: -4px;
  line-height: 34px;
  cursor: pointer;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
#menuBar li:last-of-type {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#menuBar li > small {
  display: none;
  font-size: 12px;
  text-align: left;
  text-indent: -12px;
  -webkit-transform: scale(0.8333333);
  transform: scale(0.8333333);
}
#menuBar li.current {
  position: relative;
  width: 80px;
  background-color: #d33331;
}
#menuBar li.current:after {
  position: absolute;
  content: "";
  margin-top: -3px;
  margin-left: -8px;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 6px;
  background: url("../img/icon-3.png") no-repeat -34px 0;
  top: auto;
  right: 0;
  bottom: -6px;
  left: auto;
}
