
#newsList .news-item {
  zoom: 1;
  box-sizing: border-box;
  padding: 30px;
  border-bottom: 1px dashed #c7c7c7;
}
#newsList .news-item:before {
  content: '';
  display: block;
}
#newsList .news-item:after {
  content: '';
  display: table;
  clear: both;
}
#newsList .news-item:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-bottom: none;
}
#newsList .news-item > .box {
  height: 130px;
  display: table-cell;
  vertical-align: top;
}
#newsList .news-item > .box.lt {
  text-align: center;
}
#newsList .news-item > .box.rt {
  padding-left: 20px;
}
#newsList .news-item > .box.rt a {
  font-size: 18px;
  color: #333333;
}
#newsList .news-item > .box.rt a:hover {
  font-weight: normal;
  color: #d33331;
}
#newsList .news-item > .box.rt .news-property {
  font-size: 12px;
  padding: 10px 0 10px 0;
  height: auto;
  overflow: hidden;
  zoom: 1;
}
#newsList .news-item > .box.rt .news-property dl,
#newsList .news-item > .box.rt .news-property li {
  float: left;
  margin-right: 20px;
}
#newsList .news-item > .box.rt .news-property:before {
  content: '';
  display: block;
}
#newsList .news-item > .box.rt .news-property:after {
  content: '';
  display: table;
  clear: both;
}
#newsList .news-item > .box.rt .news-preview {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#newsList .news-item > .box.rt .news-preview a:only-child {
  font-size: 14px;
}
#newsList .news-item > .imgBox {
  width: 230px;
}
#newsList .news-item > .imgBox img {
  height: 130px;
}
#newsList .news-item > .dateBox {
  width: 70px;
  height: 100px;
  color: #ffffff;
}
#newsList .news-item > .dateBox > span {
  display: block;
  font-size: 40px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  width: 70px;
  height: 70px;
  line-height: 70px;
  background-color: #d33331;
}
#newsList .news-item > .dateBox > time {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  height: 20px;
  line-height: 20px;
  background-color: #333333;
}
#paginationBar {
  padding: 0 0 100px 0;
  height: auto;
  overflow: hidden;
  text-align: center;
}
#paginationBar ul li {
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #d7d7d7;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
}
#paginationBar ul li a {
  display: block;
  color: #333333;
}
#paginationBar ul li a:hover {
  font-weight: normal;
  color: #d33331;
}
#paginationBar ul li.current {
  color: #d33331;
}
#paginationBar ul li.prev,
#paginationBar ul li.next {
  text-indent: -99999px;
  border: none;
}
#paginationBar ul li.prev {
  background: url("../img/icon-5.png") -334px 0;
}
#paginationBar ul li.prev:hover {
  background: url("../img/icon-5.png") -302px 0;
}
#paginationBar ul li.next {
  background: url("../img/icon-5.png") -270px 0;
}
#paginationBar ul li.next:hover {
  background: url("../img/icon-5.png") -238px 0;
}
#newsDetail h2 {
  font-size: 18px;
}
#newsDetail .news-property {
  padding: 20px 0 20px 0;
  height: auto;
  overflow: hidden;
}
#newsDetail .news-property li {
  font-size: 12px;
  float: none;
  display: inline-block;
  margin-right: 20px;
}
#newsDetail > .imgBox {
  padding: 30px 0 10px 0;
  height: auto;
  overflow: hidden;
}
#newsDetail > .imgBox p {
  padding: 10px 0 10px 0;
  height: auto;
  overflow: hidden;
  text-align: center;
}
#newsDetail > p {
  padding: 15px 0 15px 0;
  height: auto;
  overflow: hidden;
  text-align: left;
  line-height: 1.8;
  text-indent: 2em;
}
#shareBar {
  background-color: #f8f8f8;
  padding: 15px 0 15px 0;
  height: auto;
  overflow: hidden;
}
#shareBar a {
  font-size: 16px;
  color: #333333;
}
.news-control {
  padding: 50px 0;
}
.news-control .lt,
.news-control .rt {
  display: table-cell;
  vertical-align: middle;
}
.news-control .lt {
  width: 80%;
}
.news-control .lt > span {
  height: 40px;
  line-height: 40px;
  display: block;
}
.news-control .lt > span > a {
  color: #333333;
}
.news-control .lt > span > a:hover {
  font-weight: normal;
  color: #d33331;
}
.news-control .rt {
  text-align: right;
}
.news-control .rt > span {
  display: inline-block;
  position: relative;
}
.news-control .rt > span:before {
  position: absolute;
  content: "";
  margin-top: -16px;
  margin-left: -16px;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  content: "<";
  background: #d33331;
  line-height: 32px;
  color: #ffffff;
  left: 0;
}
.news-control .rt a {
  display: block;
  background-color: #f4f4f4;
  width: 90px;
  height: 32px;
  line-height: 32px;
  padding-right: 15px;
  color: #333333;
}
.news-control .rt a:hover {
  font-weight: normal;
  color: #ffffff;
}
.news-control .rt a:hover {
  background-color: #d33331;
}
