/*
     CSS Reset
理念：1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
     2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
     3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
/* ------- HTML5 display-role reset for older browsers ------- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
/** 设置默认字体 **/
body,
button,
input,
select,
textarea {
  font-size: 12px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
/* 将斜体扶正 */
code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}
/* 统一等宽字体 */
small {
  font-size: 12px;
}
/* 小于 12px 的中文很难阅读，让 small 正常化 */
address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
}
:focus {
  outline: 0;
}
small {
  font-size: 12px;
}
ul,
ol,
dl {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  outline: 0;
}
fieldset,
img {
  margin: 0;
  padding: 0;
  border: none;
}
a,
img {
  -webkit-touch-callout: none;
  /* 禁止长按链接与图片弹出菜单 */
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}
p {
  text-align: justify;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
}
input,
button,
textarea {
  list-style-type: none;
  cursor: pointer;
  border: 0;
}
input:focus {
  outline: none;
}
ins {
  display: none;
  text-decoration: none;
}
/** 重置表单元素 **/
legend {
  color: #000;
}
/* for ie6 */
fieldset,
img {
  border: 0;
}
/* img 搭车：让链接里的 img 无边框 */
button,
input,
select,
textarea {
  font-size: 100%;
}
/* 使得表单元素在 ie 下能继承字体大小 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
body {
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.8);
  font-family: "微软雅黑", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
::selection {
  color: #fff;
  background-color: #da271b;
}
body {
  font-size: 16px;
  font-family: "微软雅黑", sans-serif;
  color: #333333;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
/* VARIABLE*/
/*ICON*/
.response-img {
  max-width: 100%;
  display: block;
  margin: 0 auto 0 auto;
}
.icon-fb:before {
  background: url("../img/icon-1.png") no-repeat -288px -150px;
}
.icon-qq:before {
  background: url("../img/icon-1.png") no-repeat -259px -202px;
}
.icon-tel:before {
  background: url("../img/icon-1.png") no-repeat -288px -94px;
}
.icon-wechat:before {
  background: url("../img/icon-1.png") no-repeat -311px -204px;
}
.icon-backtop:before {
  background: url("../img/icon-1.png") no-repeat -233px -230px;
}
.icon-Q:before {
  background: url("../img/icon-1.png") no-repeat -174px -152px;
}
.icon-C:before {
  background: url("../img/icon-1.png") no-repeat 0 -152px;
}
.icon-P:before {
  background: url("../img/icon-1.png") no-repeat -58px -152px;
}
.icon-E:before {
  background: url("../img/icon-1.png") no-repeat -116px -152px;
}
/* LAYOUT  STYLE*/
.container {
  margin: 0 auto 0 auto;
  width: 1170px;
  height: auto;
  overflow: hidden;
}
#mask {
  position: fixed;
  z-index: 99;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: '';
  display: block;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.block {
  display: block;
}
.hide {
  display: none;
}
.h-auto {
  height: auto;
  overflow: hidden;
}
.pos-f {
  position: fixed;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.pd-v50 {
  padding: 50px 0;
}
.pd-h50 {
  padding: 0 50px;
}
.toTable {
  height: auto;
  overflow: hidden;
  width: 100%;
  display: table;
}
.toTable > .lt,
.toTable > .rt {
  display: table-cell;
  vertical-align: middle;
}
/*LINK  STYLE*/
#link-defalt {
  color: #00b9d1;
  display: block;
}
#link-defalt:hover {
  color: #6699ff;
}
#link-defalt .main-nav {
  display: block;
  border-bottom: #da271b solid 6px;
}
#link-defalt .main-nav:hover {
  background-color: #ff0000;
}
/*TEXT STYLE*/
.fontSong {
  font-family: "STSongti-SC-Light", "宋体", "微软雅黑", sans-serif;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.f10 {
  font-size: 10px;
}
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f24 {
  font-size: 24px;
}
.f26 {
  font-size: 26px;
}
.f28 {
  font-size: 28px;
}
.f32 {
  font-size: 32px;
}
/* FONT COLOR*/
/*SNIPPET*/
.wrap {
  padding: 120px 0 120px 0;
  overflow: hidden;
  height: auto;
}
.wrap .title figcaption h3 {
  position: relative;
  margin: 0 auto 0 auto;
  font-size: 28px;
  font-family: "微软雅黑";
  font-style: normal;
  font-weight: 400;
  border-bottom: 1px solid #e1e1e1;
  display: inline-block;
  padding: 0 90px 20px;
}
.wrap .title figcaption h3:after {
  position: absolute;
  content: "";
  margin-top: -2px;
  margin-left: -35px;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 3px;
  background-color: #d33331;
  top: auto;
  bottom: -2px;
}
.wrap .title.reversion figcaption h3 {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.wrap .title.reversion figcaption h3:after {
  background-color: #ffffff;
}
.wrap .title.reversion p {
  color: #ffffff;
}
.wrap .title > p {
  font-family: "STSongti-SC-Light", "宋体", "微软雅黑", sans-serif;
  text-align: center;
  padding-top: 20px;
}
.wrap .more {
  display: inline-block;
}
.wrap .more > a {
  color: #333333;
}
.wrap .more:after {
  content: "";
  float: right;
  margin-top: 4px;
  margin-left: 5px;
  color: #333333;
  background: url("../img/icon-1.png") no-repeat -343px -26px;
  display: block;
  width: 14px;
  height: 14px;
}
.wrap .more:hover {
  text-decoration: underline;
}
.wrap .more:hover:after {
  background: url("../img/icon-1.png") no-repeat -343px 0;
}
#sv-banner {
  position: relative;
}
#sv-banner img {
  max-width: 100%;
}
#service-current {
  padding-bottom: 50px;
}
#service-current > .title figcaption h3 {
  width: 100%;
  padding: 20px 0;
}
#service-current > ul {
  margin-top: 50px;
  height: auto;
  overflow: hidden;
  zoom: 1;
  border-bottom: 1px solid #d7d7d7;
  box-sizing: border-box;
  padding: 0 135px;
}
#service-current > ul dl,
#service-current > ul li {
  float: left;
  margin-right: 0;
}
#service-current > ul:before {
  content: '';
  display: block;
}
#service-current > ul:after {
  content: '';
  display: table;
  clear: both;
}
#service-current > ul > li {
  width: 225px;
  height: 120px;
  padding-bottom: 20px;
}
#service-current > ul > li > a {
  color: #333333;
}
#service-current > ul > li.current {
  border-bottom: 3px solid #d33331;
}
#service-current > ul > li em {
  position: relative;
  width: 100%;
  height: 80px;
  display: block;
  background: #fff;
}
#service-current > ul > li em:before {
  position: absolute;
  content: "";
  margin-top: -28px;
  margin-left: -28px;
  top: 50%;
  left: 50%;
  width: 56px;
  height: 56px;
}
#service-current > ul > li span {
  line-height: 40px;
}
#service-current > ul > li:hover span {
  color: #d33331;
}
#service-intro > figure:first-of-type figcaption,
#service-intro > figure:first-of-type p {
  display: table-cell;
  line-height: 2;
  vertical-align: middle;
}
#service-intro > figure:first-of-type figcaption {
  font-size: 24px;
  width: 30%;
}
#service-intro > figure:first-of-type figcaption strong {
  display: block;
  color: #d33331;
  font-size: 14px;
}
#service-intro > figure:first-of-type p {
  width: 70%;
}
#service-intro > img.earth {
  display: block;
  margin: 80px auto 100px auto;
}
.service-patent-type {
  width: 100%;
  height: 550px;
  margin-top: 100px;
  background: url("../img/bground/servicePatentBg.png") no-repeat right center #f8f8f8;
  background-size: contain;
}
.service-patent-type .box {
  width: 45%;
  padding: 140px 0;
  line-height: 1.8;
}
.service-patent-type .box h3 {
  font-size: 30px;
}
.service-patent-type .box > p {
  background-color: #d33331;
  padding-right: 50px;
}
.service-flow {
  padding: 80px 0 0 0;
  height: auto;
  overflow: hidden;
}
.service-flow h3 {
  margin-bottom: 50px;
}
.service-flow h3 span {
  line-height: 30px;
}
.service-flow dl {
  zoom: 1;
  text-align: center;
  margin-bottom: 70px;
}
.service-flow dl:before {
  content: '';
  display: block;
}
.service-flow dl:after {
  content: '';
  display: table;
  clear: both;
}
.service-flow dl dt,
.service-flow dl dd {
  float: left;
  margin-right: 88px;
  box-sizing: border-box;
}
.service-flow dl dd:nth-of-type(4n) {
  margin-right: 0;
}
.service-flow dl dt {
  font-size: 20px;
  position: relative;
  color: #d33331;
  width: 155px;
  height: 155px;
  border: 1px solid #d7d7d7;
  border-radius: 50%;
}
.service-flow dl dt:after {
  position: absolute;
  content: "";
  margin-top: -9px;
  margin-left: -10px;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 18px;
  background: url("../img/icon-2.png") no-repeat -463px 0;
  left: auto;
  right: -20px;
}
.service-flow dl dt > em {
  content: "";
  display: block;
  background: red;
  margin: 30px auto 20px auto;
}
.service-flow dl dt > em.flow1 {
  width: 73px;
  height: 35px;
  background: url("../img/icon-2.png") no-repeat -376px -46px;
}
.service-flow dl dt > em.flow2 {
  width: 85px;
  height: 44px;
  background: url("../img/icon-2.png") no-repeat -376px 0;
}
.service-flow dl dd {
  margin-bottom: 10px;
  font-size: 18px;
  width: 165px;
  height: 140px;
  padding: 20px 25px;
  border: 1px dashed #d7d7d7;
}
.service-flow dl dd.last {
  font-size: 24px;
  color: #d33331;
  line-height: 2;
}
.service-flow dl dd i {
  display: block;
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: 600;
  font-style: normal;
  color: #d33331;
}
.service-value {
  height: 980px;
  background-color: #ffffff;
}
.service-value header {
  color: #ffffff;
  font-size: 60px;
  height: 200px;
  line-height: 200px;
  background-color: rgba(72, 71, 71, 0.73);
}
.service-value.bg1 {
  height: 940px;
  background: url("../img/bground/serviceValueBg.png") no-repeat right center #f8f8f8;
}
.service-value .box {
  overflow: visible;
  padding-top: 70px;
}
.service-value .box h3 {
  margin-bottom: 20px;
}
.service-value .box > p {
  text-align: center;
}
.service-value .box ul {
  height: auto;
  overflow: hidden;
  margin-top: 70px;
  zoom: 1;
  overflow: visible;
}
.service-value .box ul dl,
.service-value .box ul li {
  float: left;
  margin-right: 30px;
}
.service-value .box ul:before {
  content: '';
  display: block;
}
.service-value .box ul:after {
  content: '';
  display: table;
  clear: both;
}
.service-value .box ul li {
  width: 270px;
  height: 420px;
  padding: 30px 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(36, 26, 26, 0.35);
}
.service-value .box ul li em {
  display: block;
  margin: 0 auto 20px auto;
  background-image: url("../img/icon-2.png");
  width: 72px;
  height: 72px;
}
.service-value .box ul li:nth-of-type(1) em {
  background-position: -228px 0;
}
.service-value .box ul li:nth-of-type(2) em {
  background-position: -154px 0;
}
.service-value .box ul li:nth-of-type(3) em {
  background-position: -302px 0;
}
.service-value .box ul li:nth-of-type(4) em {
  background-position: -80px 0;
}
.service-value .box ul li label {
  display: block;
  text-align: center;
  font-size: 24px;
  color: #d33331;
  padding-bottom: 20px;
}
.service-value .box ul li p {
  font-size: 14px;
  line-height: 1.6;
}
.service-value .box ul li:last-of-type {
  margin-right: 0;
}
.service-value .box2 {
  position: relative;
}
.service-value .box2 figure:first-child {
  position: absolute;
  width: 440px;
  height: 130px;
  top: 130px;
  right: 120px;
}
.service-value .box2 ul {
  height: 650px;
  width: 100%;
  position: relative;
}
.service-value .box2 ul li {
  text-align: center;
  position: absolute;
  border: 1px solid #333333;
  border-radius: 50%;
  width: 214px;
  height: 214px;
  box-sizing: border-box;
  padding: 30px 20px;
  font-size: 14px;
}
.service-value .box2 ul li > img:first-child {
  margin: 30px auto 20px auto;
  display: block;
}
.service-value .box2 ul li > span {
  font-size: 13px;
  letter-spacing: -1px;
}
.service-value .box2 ul li:nth-of-type(1) {
  width: 435px;
  height: 435px;
  left: 15px;
  top: 0;
}
.service-value .box2 ul li:nth-of-type(1) img:first-child {
  margin: 0 auto 20px auto;
}
.service-value .box2 ul li:nth-of-type(1) p {
  padding: 10px 20px 0 20px;
}
.service-value .box2 ul li:nth-of-type(2) {
  width: 240px;
  height: 240px;
  left: 305px;
  bottom: 10px;
}
.service-value .box2 ul li:nth-of-type(3) {
  left: 535px;
  bottom: 125px;
}
.service-value .box2 ul li:nth-of-type(4) {
  left: 715px;
  bottom: 0;
}
.service-value .box2 ul li:nth-of-type(5) {
  left: 920px;
  bottom: 92px;
}
.service-ads {
  padding: 60px 0;
}
.service-ads.bg1 {
  background: #f8f8f8;
}
.service-ads.bg2 {
  background: #e5e5e5;
}
.service-ads > h3 {
  padding-bottom: 30px;
  font-size: 24px;
}
.service-ads > p {
  text-align: center;
  padding-bottom: 50px;
}
.service-ads .box {
  position: relative;
  height: 350px;
  padding: 50px 0;
  margin-top: 100px;
  background: url("../img/bground/advantageBg.png") no-repeat center;
}
.service-ads .box > figure {
  position: absolute;
  width: 320px;
  height: 130px;
}
.service-ads .box > figure:nth-of-type(1) {
  left: 0;
  top: 0;
}
.service-ads .box > figure:nth-of-type(2) {
  right: 0;
  top: 0;
}
.service-ads .box > figure:nth-of-type(3) {
  left: 0;
  bottom: 0;
}
.service-ads .box > figure:nth-of-type(4) {
  right: 0;
  bottom: 0;
}
.service-ads .box > figure > figcaption {
  font-size: 24px;
  color: #d33331;
}
.service-ads .box2 {
  zoom: 1;
}
.service-ads .box2 dl,
.service-ads .box2 li {
  float: left;
  margin-right: 20px;
}
.service-ads .box2:before {
  content: '';
  display: block;
}
.service-ads .box2:after {
  content: '';
  display: table;
  clear: both;
}
.service-ads .box2 li {
  position: relative;
  font-size: 14px;
  line-height: 1.8;
  background-color: #ffffff;
  box-sizing: border-box;
}
.service-ads .box2 li:last-of-type {
  margin-right: 0;
}
.service-ads .box2 li em {
  position: absolute;
}
.service-ads .box2 .advantage {
  padding-top: 150px;
}
.service-ads .box2 .advantage li {
  width: 218px;
  height: 218px;
  padding: 50px 35px;
  border-radius: 50%;
}
.service-ads .box2 .advantage label {
  font-size: 18px;
}
.service-ads .box2 .advantage em {
  position: absolute;
  content: "";
  margin-top: -75px;
  margin-left: -75px;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  top: -80px;
  font-size: 130px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
}
.service-ads .box2 .significance {
  padding: 100px 0 100px 0;
  height: auto;
  overflow: hidden;
}
.service-ads .box2 .significance li {
  border: 1px solid #d7d7d7;
  padding: 40px 10px;
  width: 180px;
  height: 180px;
}
.service-ads .box2 .significance li:not(:last-of-type) {
  margin-right: 18px;
}
.service-ads .box2 .significance li em {
  position: absolute;
  content: "";
  margin-top: -15px;
  margin-left: -15px;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  top: -30px;
  color: #bfbfbf;
  font-size: 40px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 600;
}
.service-brand-value {
  background: #f8f8f8;
  padding: 50px 0;
}
.service-brand-value .runner {
  position: relative;
  padding-left: 30px;
  display: table-cell;
  width: 450px;
  height: 350px;
  background: url("../img/bground/runner.png") no-repeat center;
}
.service-brand-value .runner span {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 30px;
  line-height: 30px;
}
.service-brand-value .runner span.s1,
.service-brand-value .runner span.s3 {
  left: 50%;
  margin-left: -50px;
}
.service-brand-value .runner span.s2,
.service-brand-value .runner span.s4 {
  top: 50%;
  margin-top: -15px;
}
.service-brand-value .runner span.s1 {
  top: 0;
}
.service-brand-value .runner span.s2 {
  right: 0;
}
.service-brand-value .runner span.s3 {
  bottom: 0;
}
.service-brand-value .runner span.s4 {
  left: 0;
}
.service-brand-value .box,
.service-brand-value .list {
  display: table-cell;
  zoom: 1;
}
.service-brand-value .box:before,
.service-brand-value .list:before {
  content: '';
  display: block;
}
.service-brand-value .box:after,
.service-brand-value .list:after {
  content: '';
  display: table;
  clear: both;
}
.service-brand-value .box ol,
.service-brand-value .list ol {
  float: left;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  margin-left: 80px;
  margin-right: 30px;
  width: 60px;
  height: 350px;
  display: inline-block;
}
.service-brand-value .box ol:after,
.service-brand-value .list ol:after {
  position: absolute;
  content: "";
  margin-top: -175px;
  margin-left: -1px;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 350px;
  background: #333333;
  z-index: 1;
}
.service-brand-value .box ol > li,
.service-brand-value .list ol > li {
  position: absolute;
  font-size: 32px;
  background: #f8f8f8;
  width: 58px;
  height: 58px;
  line-height: 58px;
  border-radius: 50%;
  border: 1px solid #333333;
  z-index: 9;
}
.service-brand-value .box ol > li:nth-of-type(1),
.service-brand-value .list ol > li:nth-of-type(1) {
  top: 20px;
}
.service-brand-value .box ol > li:nth-of-type(2),
.service-brand-value .list ol > li:nth-of-type(2) {
  top: 100px;
}
.service-brand-value .box ol > li:nth-of-type(3),
.service-brand-value .list ol > li:nth-of-type(3) {
  top: 180px;
}
.service-brand-value .box ol > li:nth-of-type(4),
.service-brand-value .list ol > li:nth-of-type(4) {
  top: 260px;
}
.service-brand-value .box dl,
.service-brand-value .list dl {
  height: 350px;
  display: inline-block;
}
.service-brand-value .box dl dt,
.service-brand-value .list dl dt {
  font-size: 18px;
  margin-top: 32px;
}
.service-brand-value .box dl dd,
.service-brand-value .list dl dd {
  font-size: 14px;
  line-height: 22px;
}
