/*
     CSS Reset
理念：1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
     2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
     3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
/* ------- HTML5 display-role mb for older browsers ------- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
/** 设置默认字体 **/
body,
button,
input,
select,
textarea {
  font-size: 12px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
/* 将斜体扶正 */
code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}
/* 统一等宽字体 */
small {
  font-size: 12px;
}
/* 小于 12px 的中文很难阅读，让 small 正常化 */
address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
}
:focus {
  outline: 0;
}
small {
  font-size: 12px;
}
ul,
ol,
dl {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  outline: 0;
}
fieldset,
img {
  margin: 0;
  padding: 0;
  border: none;
}
a,
img {
  -webkit-touch-callout: none;
  /* 禁止长按链接与图片弹出菜单 */
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}
p {
  text-align: justify;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
}
input,
button,
textarea {
  list-style-type: none;
  cursor: pointer;
  border: 0;
}
input:focus {
  outline: none;
}
ins {
  display: none;
  text-decoration: none;
}
/** 重置表单元素 **/
legend {
  color: #000;
}
/* for ie6 */
fieldset,
img {
  border: 0;
}
/* img 搭车：让链接里的 img 无边框 */
button,
input,
select,
textarea {
  font-size: 100%;
}
/* 使得表单元素在 ie 下能继承字体大小 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
::selection {
  color: #fff;
  background-color: #da271b;
}
