@import "lib-reset";
@import "lib-mixins";
@import "lib-rem";

//RESET
body {
  .font(16px, "微软雅黑", normal);
  color: rgba(51, 51, 51, 1);
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

a {
  text-decoration: none
}

h1, h2, h3, h4, h5, h6,
dl, ol, ul, li, dd {
  margin: 0;
  padding: 0;
  list-style: none
}

// VARIABLE
@images: "../img"; //图片路径
@half: 0.5;

// LAYOUT  STYLE
.container {
  .m-auto;
  width: 1170px;
  height: auto;
  overflow: hidden
}

.m-auto {
  margin: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.after(@width,@height) {
  .pos-a;
  content: "";
  .mt(-(round(@height/2)));
  .ml(-(round(@width/2)));
  top: percentage(@half);
  left: percentage(@half);
  width: @width;
  height: @height;
}

.before(@width,@height) {
  .pos-a;
  content: "";
  .mt(-(round(@height/2)));
  .ml(-(round(@width/2)));
  top: percentage(@half);
  left: percentage(@half);
  width: @width;
  height: @height;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.mt(@margin-top) {
  margin-top: @margin-top
}

.mr(@margin-right) {
  margin-right: @margin-right
}

.mb(@margin-bottom) {
  margin-bottom: @margin-bottom
}

.ml(@margin-left) {
  margin-left: @margin-left
}

.pt(@padding-top) {
  padding-top: @padding-top
}

.pr(@padding-right) {
  padding-right: @padding-right
}

.pb(@padding-bottom) {
  padding-bottom: @padding-bottom;
}

.pl(@padding-left) {
  padding-left: @padding-left;
}

.border-base(@color) {
  border: 1px solid @color;
}

.border-top-base(@color) {
  border-top: 1px solid @color;
}

.border-right-base(@color) {
  border-right: 1px solid @color;
}

.border-bottom-base(@color) {
  border-bottom: 1px solid @color;
}

.border-left-base(@color) {
  border-left: 1px solid @color;
}

.list-inline(@float-direction,@margin-right) {
  dl,
  li {
    float: @float-direction;
    margin-right: @margin-right
  }
}

//LINK  STYLE
#link-defalt {
  color: #00b9d1;
  display: block;
  &:hover {
    color: #69f
  }
  .main-nav {
    display: block;
    border-bottom: #da271b solid 6px;
    &:hover {
      background-color: red
    }
  }

  .base(@color,@toColor,@fontWeight) {
    color: @color;
    &:hover {
      font-weight: @fontWeight;
      color: @toColor;
    }
  }
}

//FONT STYLE
.font(@font-size,@font-family,@weight) {
  font-size: @font-size;
  font-family: @font-family;
  font-style: normal;
  font-weight: @weight;
}

// FONT COLOR
@base-color: rgba(51, 51, 51, 1);
@white: rgba(255, 255, 255, 1);
@red: rgba(211, 51, 49, 1);

// HEADER

#header {
  .clearfix;
  width: percentage(@half*2);
  overflow: visible;
  #logo {
    .fl;
    .pl(35px);
    .pt(15px);
    a {
      display: block;
      ins {
        text-indent: -99999px;
        display: inline-block
      }
    }
  }

  #navBar {
    .fr;
    .pos-r;
    .text-center;
    .list-inline(left, 0);
    height: 100px;
    line-height: 100px;

    //下划线
    #current {
      .pos-a;
      height: 6px;
      width: 120px;
      background: #da271b;
      top: 94px;
      overflow: hidden;
    }
    li {
      .text-center;
      &.m {
        .fl;
        .pos-r;
        z-index: 1;
      }
      a {
        color: @base-color;
        display: block;
      }
      h3 {
        .font(16px, "微软雅黑", normal);
        a {
          width: 115px;
        }
      }

      //二级
      .sub {
        .pos-a;
        .text-center;
        display: none;
        left: -3px;
        top: 100px;
        z-index: 1;
        width: 120px;
        background: @white;
        &.double {
          width: 240px;
          left: percentage(-@half);
        }
        li {
          .mb(-1px);
          width: 120px;
          box-sizing: border-box;
          a {
            .border-bottom-base(#d7d7d7);
            line-height: 30px;
            padding: 8px;
            &:hover {
              .pl(5px);
              border-left: 3px solid #da271b;
              background: #f8f8f8;
            }
          }
        }
      }
    }
  }
}

// 底部
#main-footer {
  padding: 50px 0;
  color: @white;
  background: #3d3d3d;
  height: auto;
  overflow: hidden;

  //底部菜单
  .btm-nav {
    .border-bottom-base(@white);
    .container;
    .list-inline(left, 212px);
    .clearfix;
    .pb(50px);
    dl:last-of-type {
      .mr(0);
    }
    dt {
      .border-bottom-base(@white);
      .mb(10px);
      font-size: 16px;
      padding: 10px 0
    }
    dd {
      a {
        #link-defalt> .base(@white, @white, 600);
      }
      line-height: 30px
    }
  }

  //关注渠道
  .btm-contact {
    .text-center;
    .pt(50px);
    .pb(50px);
    li {
      .pos-r;
      .ml(30px);
      .mr(30px);
      display: inline-block;
      a {
        .pl(30px);
        #link-defalt> .base(@white, @red, normal);
        &:before {
          .pos-a;
          content: "";
          width: 26px;
          height: 26px;
          left: 0;
          top: 0;
        }
        //前置图标
        &.fb:before {
          width: 48px;
          left: -25px;
          background: url("@{images}/icon-1.png") no-repeat -295px -152px;
        }
        &.qq:before {
          background: url("@{images}/icon-1.png") no-repeat -243px -152px;
        }
        &.tel:before {
          background: url("@{images}/icon-1.png") no-repeat -269px -152px;
        }
        &.wechat:before {
          width: 30px;
          left: -5px;
          background: url("@{images}/icon-1.png") no-repeat -434px -82px;
        }

        &.fb:hover:before {
          background: url("@{images}/icon-1.png") no-repeat -295px -152px;
        }
        &.qq:hover:before {
          background: url("@{images}/icon-1.png") no-repeat -217px -152px;
        }
        &.tel:hover:before {
          background: url("@{images}/icon-1.png") no-repeat -191px -152px;
        }
        //&.wechat:hover:before{
        //  background: url("@{images}/icon-1.png") no-repeat -295px -152px;
        //}

      }

    }
  }

  .btm-copyright {
    font-size: 14px;
  }
}
