/* for double screen width Retina screen */
/* for 414 px width screen  iphone6+ */
@media screen and (min-width:320px) and (max-width:480px) {
    /*PUBLIC*/
    #header {
    }

    #header #logo {
        padding-top:5px;
        padding-left:0;
        transform:scale(0.8);
    }

    #main-footer {
        padding:25px 0;
        overflow:visible;
    }

    #main-footer .btm-contact > ul {
        display:flex;
        flex-wrap:nowrap;
        flex-direction:row;
        justify-content:space-around;
        align-items:center;
    }

    #main-footer .btm-contact li > a:before {
        transform:scale(0.65);
        top:-3px;
        left:5px;
    }

    #main-footer .btm-contact li > a.icon-wechat:before {
        left:3px;
    }

    #main-footer .btm-contact li > a.icon-fb:before {
        left:0;
    }

    #main-footer .btm-contact li {
        display:inline-flex;
        margin:0 0 15px 0;
        font-size:12px;
    }

    #main-footer .btm-contact li > span.tip {
        display:none;
    }

    .copyright {
        padding:15px 60px 0 60px;
        font-size:12px;
    }

    /*响应菜单*/
    #header .response-menu, #header .nav-toggle {
        display:block;
    }

    .nav-open .response-menu {
        -webkit-transform:translateY(0) scale(1);
        transform:translateY(0) scale(1);
        opacity:1;
        display:block;
        z-index:99999;
    }

    .nav-open .nav-toggle {
        box-shadow:none;
    }

    .nav-open .nav-toggle:before {
        width:1600px;
        height:1600px;
        background-color:rgba(255, 255, 255, 0.90);
    }

    .nav-open .nav-toggle .icon {
        width:0;
    }

    .nav-open .nav-toggle .icon:before {
        -webkit-transform:translateY(9px) rotate(45deg);
        -ms-transform:translateY(9px) rotate(45deg);
        transform:translateY(9px) rotate(45deg);
    }

    .nav-open .nav-toggle .icon:after {
        -webkit-transform:translateY(-9px) rotate(-45deg);
        -ms-transform:translateY(-9px) rotate(-45deg);
        transform:translateY(-9px) rotate(-45deg);
    }

    .nav-toggle {
        width:55px;
        height:55px;
        right:0;
        border-radius:50%;
        position:absolute;
        z-index:9999;
        cursor:pointer;
        -webkit-transition-duration:0.66s;
        transition-duration:0.66s;
        transiting-timing-function:swing;
    }

    .nav-toggle:before {
        width:60px;
        height:60px;
        border-radius:50%;
        background-color:rgba(255, 255, 255, 0.90);
        content:"";
        position:absolute;
        top:50%;
        left:50%;
        zoom:1;
        -webkit-transform:translateX(-50%) translateY(-50%);
        -ms-transform:translateX(-50%) translateY(-50%);
        transform:translateX(-50%) translateY(-50%);
        -webkit-transition-duration:0.66s;
        transition-duration:0.66s;
    }

    .nav-toggle .icon {
        width:25px;
        height:2px;
        background-color:#d33331;
        border-radius:2px;
        position:absolute;
        top:28px;
        left:15px;
        -webkit-transition-duration:0.5s;
        transition-duration:0.5s;
        transiting-timing-function:swing;
    }

    .nav-toggle .icon:before,
    .nav-toggle .icon:after {
        width:25px;
        height:2px;
        background-color:#d33331;
        border-radius:2px;
        content:"";
        position:absolute;
        left:0;
        -webkit-transition-duration:0.5s;
        transition-duration:0.5s;
    }

    .nav-toggle .icon:before {
        top:-9px;
    }

    .nav-toggle .icon:after {
        top:9px;
    }

    .response-menu {
        position:absolute;
        top:80px;
        left:0;
        width:100%;
        height:100%;
        z-index:-1;
        -webkit-transition-duration:0.66s;
        transition-duration:0.66s;
        transiting-timing-function:swing;
        -webkit-transform:translateY(100%) scale(0);
        transform:translateY(100%) scale(0);
        opacity:0;
    }

    .response-menu ul li {
        width:50%;
        float:left;
    }

    .response-menu ul li a {
        display:block;
        padding:10px 0;
        text-align:center;
        color:#222;
        text-decoration:none;
        font-size:16px;
        -webkit-transition-duration:0.25s;
        transition-duration:0.25s;
    }

    .response-menu ul:hover li a {
        opacity:0.5;
    }

    .response-menu ul:hover li:hover a {
        opacity:1;
    }

    /*首页*/
    .focusWrap {
        height:170px;
    }

    .focusWrap .rslides > li > a {
        width:100%;
        height:170px;
        display:block;
    }

    .focusWrap img {
        position:absolute;
        width:563px !important;
        height:inherit;
        margin-left:-85px;
    }

    .centered-btns_tabs {
        width:30%;
        margin-left:-15%;
        bottom:0;
    }

    .centered-btns_tabs > li {
        margin:0;
    }

    .centered-btns_tabs > li > a {
        transform:scale(0.5);
    }

    .container {
        width:100%;
    }

    .wrap {
        padding:20px 0 40px 0;
    }

    .wrap .title > p {
        font-size:12px;
        padding-top:5px;
    }

    .wrap .more:after {
        margin-top:7px;
    }

    .wrap .title figcaption h3 {
        font-size:20px;
        padding:0 0 20px 0;
    }

    #navBar {
        display:none;
    }

    #sideBar {
        background:red;
        display:none;
    }

    #service .service-list {
        padding:0 0 30px 0;
    }

    #service .service-list li {
        width:50%;
    }

    #service .service-list li > span:first-child {
        transform:scale(0.85);
        margin-bottom:-10px;
    }

    #service .service-list li > p {
        font-size:12px;
    }

    #service .service-list li > strong {
        padding:5px 0;
    }

    #aboutUs,
    #project,
    #main-footer .btm-nav {
        display:none;
    }

    #news .tab-content {
        margin-top:10px;
        overflow:hidden;
        padding:0;
    }

    #news .tab-content .last-news,
    #news .tab-content li {
        float:none;
        margin:auto;
        width:100%;
    }

    #news .tab-content ul.item4,
    #news .tab-content ul > li:nth-of-type(2) ~ li {
        display:none;
    }

    #main-footer .btm-nav,
    #news .tab-control {
        width:100%;
    }

    #news .tab-content ul.item6 .viewImg {
        width:25%;
        margin:0;
    }

    #news .tab-content ul > li > a {
        padding:0 15px;
        display:block;
    }

    #news .tab-content .last-news .viewImg > .date,
    #news .tab-content li .viewImg > .date {
        margin:auto;
    }

    #news .tab-content ul.item6 .box {
        width:75%;
        float:l;
    }

    #news .tab-control ul,
    #main-footer .btm-contact {
        padding:0;
    }

    #news .tab-control ul li {
        margin:0 15px;
    }

    #client #logos .box > li {
        width:50%;
        padding:20px 0;
        background:#fff;
    }

    #client #logos .box > li:nth-of-type(6) ~ li {
        display:none;
    }

    #client #logos .box > li img {
        height:auto;
    }

    #client {
        background:#f8f8f8;
    }

    #client #logos {
        margin-top:20px;
    }

    /*服务项目*/
    .banner {
        width:100%;
        height:150px;
        overflow:hidden;
    }

    .banner > img {
        position:absolute;
        max-width:720px;
        margin-left:-100px;
        height:inherit;
    }

    #service-current.wrap {
        display:none;
    }

    #service-intro > .toTable {
        display:block;
        text-align:center;
        padding-top:20px;
    }

    #service-intro > figure:first-of-type figcaption,
    #service-intro > figure:first-of-type p {
        display:block;
        width:100%;
        line-height:1.6;
    }

    #service-intro > figure:first-of-type p,
    #service-intro > img.earth {
        max-width:80%;
        margin:30px auto;
    }

    .service-apply-type {
        background-color:#f8f8f8;
        padding:30px 0;
    }

    .service-apply-type > .lt-box {
        display:block;
        width:100%;
    }

    .service-apply-type > .lt-box .box {
        position:relative;
        text-align:center;
        width:100%;
        left:0;
        top:0;
        right:0
    }

    .service-apply-type > .lt-box .box > p {
        padding:0 15px;
    }

    .service-apply-type > .rt-box {
        display:none;
    }

    .service-ads > p {
        box-sizing:border-box;
        margin-top:5px;
        padding:5px 15px;
        font-size:14px;
    }

    .service-ads {
        padding:35px 0;
    }

    .service-ads > h3 {
        padding-bottom:0
    }

    .service-ads > h3 + p {
        padding:10px 15px 30px 15px;
    }

    .service-ads .box {
        background-size:0;
        padding:0;
        margin-top:15px;
        font-size:12px;
        height:auto;
        border:1px solid #d7d7d7;
    }

    .service-ads .box > figure {
        position:relative;
        width:50%;
        box-sizing:border-box;
        float:left;
        padding:10px;
        border:1px solid #d7d7d7;
    }

    .service-ads .box2 .advantage {
        padding-top:15px;
        height:auto;
        overflow:hidden;
    }

    .service-ads .box2 .advantage em {
        display:none;
    }

    .service-brand-value .list ol > li {

    }

    .service-ads .box2 .advantage li {
        border-radius:0;
        width:100%;
        height:90px;
        padding:5px 15px;
        margin-bottom:1px;
    }

    .service-ads .box2 .advantage label {
        float:left;
        font-size:14px;
        color:#d33331;
        width:30%;
        height:80px;
        display:block;
        line-height:80px;
        word-wrap:break-word;
        word-break:break-all;
    }

    .service-ads .box2 .advantage p {
        float:left;
        width:70%;
        padding:15px 0;
    }

    .service-ads .box2 .significance {
        padding:50px 15px 20px 15px;
        display:flex;
        width:100%;
        box-sizing:border-box;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:space-between;
        align-content:space-between;
    }

    .service-ads .box2 .significance li,
    .service-ads .box2 .significance li:not(:last-of-type) {
        margin:0 0 30px;
        height:160px;
        float:none;
        padding-top:20px;
        width:48%;
    }

    .service-brand-value {
        padding-bottom:0;
    }

    .service-brand-value .runner,
    .service-brand-value .box, .service-brand-value .list {
        display:block;
    }

    .service-brand-value .runner {
        padding:15px;
        width:100%;
        box-sizing:border-box;
        background-size:50%;
        margin-top:-50px;
    }

    .service-brand-value .runner span.s1 {
        top:30px;
    }

    .service-brand-value .runner span.s3 {
        bottom:30px;
    }

    .service-brand-value .list ol {
        margin-left:0;
        box-sizing:border-box;
        padding-left:10px;
        width:20%;
    }

    .service-brand-value .list dl {
        float:left;
        width:70%;
    }

    .service-brand-value .list dl dt {
        margin-top:15px;
        font-size:14px;
    }

    .service-brand-value .list dl dd {
        font-size:12px;
    }

    .service-flow {
        display:none;
    }

    .service-value {
        height:auto;
    }

    .service-value .box {
        padding:30px 0;
    }

    .service-value.bg1 {
        background:transparent;
        height:auto;
        overflow:hidden;
    }

    .service-value header {
        height:80px;
        font-size:32px;
        line-height:80px;
    }

    .service-value .pd-v50 {
        padding:15px 0;
    }

    .service-value .box2 ul {
        display:none;
    }

    .service-value .box2 figure:first-child {
        position:relative;
        text-align:center;
        box-sizing:border-box;
        padding:0 15px;
        width:100%;
        left:0;
        top:0;
    }

    .service-value .box2 figure:first-child > h3 {
        margin-bottom:5px;
        font-size:16px;
    }

    .service-value .box2 figure:first-child > p {
        font-size:12px;
    }

    .service-value .replace {
        display:block !important;
        height:auto;
        padding:15px 0 30px 15px;
        overflow:hidden;
    }

    .service-value .box > h3,
    .service-value .box > p {
        display:none
    }

    .service-value .box > ul {
        margin-top:0;
    }

    .service-value .box > ul li {
        width:100%;
        height:auto;
        box-shadow:none;
    }

    /*新闻*/
    #newsList {
        padding:0
    }

    #newsList .news-item > .box {
        height:auto;
    }

    #newsList .news-item > .imgBox {
        width:100px;
        /*background:red;*/
    }

    #newsList .news-item > .imgBox img {
        height:auto;
    }

    #newsList .news-item > .box.rt a {
        font-size:12px
    }

    #newsList .news-item > .box.rt .news-property,
    #newsList .news-item > .box.rt .news-preview {
        display:none
    }

    #newsList .news-item > .dateBox {
        width:50px;
        vertical-align:middle;
    }

    #newsList .news-item > .dateBox > span {
        width:inherit;
        height:30px;
        line-height:30px;
        font-size:22px;
    }

    #newsList .news-item > .dateBox > time {
        font-size:10px;
        margin-top:2px;
    }

    .sub-tabBar {
        height:auto;
        padding:15px 0;
    }

    .sub-tabBar .tab {
        width:100%;
        float:none;
        text-align:center;
        box-sizing:border-box;
        border-radius:10px;
        padding:0 10px;
    }

    .sub-tabBar .tab > ul {
        border-radius:4px;
        height:auto;
        overflow:hidden;
    }

    .sub-tabBar .tab li {
        font-size:12px;
        margin-left:0;
        width:25%;
        box-sizing:border-box;
        /*float:none;*/
    }

    .sub-tabBar .currentMode {
        width:100%;
        text-align:center;
        float:none;
    }

    .sub-tabBar .currentMode.fl {
        float:none;
    }

    .sub-tabBar .currentMode > h4,
    .sub-tabBar .currentMode > span {
        display:inline-block;
        float:none;
        font-size:24px;
    }

    #paginationBar {
        margin-top:30px;
        padding-bottom:30px
    }

    #newsDetail {
        padding:50px 15px;
        box-sizing:border-box;
    }

    #newsDetail > p {
        font-size:14px;
    }

    #newsDetail > .imgBox {
        box-sizing:border-box;
        width:100%;
    }

    #newsDetail > .imgBox img {
        width:75%;
    }

    .news-control .lt,
    .news-control .rt {
        display:block;
        width:100%;
    }

    .news-control .lt > span {
        height:auto;
        padding:0 15px;
        text-overflow:ellipsis;
        overflow:hidden;
        white-space:nowrap;
        font-size:12px;
    }

    .news-control .rt {
        text-align:center;
        margin-top:15px;
    }

    .news-control .rt a {
        text-align:right;
    }

    #shareBar {
        display:none;
    }

    /*加入我们*/
    #tabMenu {
        padding:15px 0;
        font-size:16px;
        text-align:center;
    }

    #tabMenu + .tip {
        padding:15px;
        font-size:14px;
    }

    #tabMenu > .menu > li {
        display:inline-block;
        float:none;
    }

    #tabMenu > .mailto {
        display:none;
    }

    .tab-content {
        padding:15px;
        font-size:12px
    }

    .tab-content tr > td:nth-of-type(1) {
        width:50%;
    }

    .tab-content tr > td > label:first-child,
    .tab-content tr > td:nth-of-type(3),
    .tab-content tr > td:nth-of-type(4) {
        display:none;
    }

    .tab-content .preview {
        padding:0;
        border:none;
    }

    #jobDetail {
        width:80%;
        height:400px;
        display:block;
        box-sizing:border-box;
        margin-left:10%;
        margin-top:-200px;
        padding:0 10px;
        left:0;
    }

    .job-title {
        padding:5px 10px;
        font-size:16px;
    }

    .job-point {
        font-size:14px;
    }

    .job-description {
        font-size:12px;
    }

    /*关于我们*/
    .aboutUs-content {
        font-size:12px;
    }

    .aboutUs-content .title {
        padding:15px 0;
        text-align:center;
    }

    .aboutUs-content .title > figcaption:first-child > h3 {
        font-size:28px;
        float:none;
    }

    .aboutUs-content .title > figcaption:first-child > h3 + span {
        display:flex;
        justify-content:center;
        margin:5px auto 0 auto;
        height:auto;
        overflow:hidden;
    }

    .aboutUs-content .title > figcaption:first-child > h3 + span sup {
        display:inline-block;
        padding:1px;
        width:5px;
        float:left;
        text-indent:-99999px;
        font-size:0;
        margin:0;
    }

    .aboutUs-content strong.tip {
        margin:0;
    }

    .aboutUs-content .title ~ p {
        padding:0 15px 10px;
    }

    .aboutUs-content .title ~ .list-text,
    .aboutUs-content .title > figcaption:first-child:not(.block) + p {
        padding:0 15px;
    }

    .core-business li {
        width:50%;
        margin-bottom:15px;
        padding:0 5px;
    }

    .core-business li > label:only-of-type {
        padding:5px 0;
    }

    .columns-2 {
        padding:20px 0;
    }

    .columns-2 > .container > .fl .title,
    .columns-2 > .container > .fr .title {
        margin-top:30px;
    }

    .columns-2 .imgBox > img:only-child {
        max-width:70%;
    }

    .columns-2 > .container > .fl,
    .columns-2 > .container > .fr {
        width:100%;
        float:none;
    }

    .columns-2 > .container > .fl .title p:last-of-type,
    .columns-2 > .container > .fr .title p:last-of-type {
        padding:10px 15px;
    }

    .description-text {
        position:relative;
        padding:30px 0;
    }

    .description-text .box {
        position:relative;
    }

    .description-text .box > label {
        display:block;
        position:absolute;
        left:50px;
        top:10px;
    }

    .description-text .box > .text p {
        padding:30px 15px 0 0;
    }
    .ourCulture-table{
        padding-bottom:30px;
    }
    .ourCulture-table > img:only-of-type {
        display:block;
    }

    .ourCulture-table > table:only-of-type {
        display:none
    }

    /*傻鸟知服*/
    #foolishBird-wrap {
        height:422px;
    }

    #foolishBird-wrap .box {
        padding-top:30px;
    }

    #foolishBird-wrap .box > header:first-child h2 {
        font-size:40px;
    }

    #foolishBird-wrap .box > header:first-child:after {
        transform:scale(0.25);
        right:20px;
        top:-15px;
    }

    #foolishBird-wrap .box > header:first-child strong {
        display:block;
        line-height:1.2;
        text-align:center;
        font-size:20px;
    }

    #foolishBird-wrap .box > header:first-child strong > br {
        display:none;
    }

    #foolishBird-wrap .box > header:first-child + p {
        font-size:16px;
    }

    #foolishBird-wrap .box > header:first-child + p + .link {
        margin-top:5px;
        font-size:20px;
    }

    #foolishBird-wrap .box > header:first-child + p + .link > span {
        padding-right:40px;
    }

    #foolishBird-wrap .box > header:first-child + p + .link > span:after {
        margin-left:-100px;
        transform:scale(0.50);
    }

    #foolishBird-wrap .device-img {
        transform:scale(0.30);
        bottom:-125px;
    }

    /*案例*/
    #menuBar {
        display:none;
    }

    #cases {
        padding-bottom:30px;
    }

    #cases .wrapper {
        padding:15px 0 50px 0;
    }

    #cases .case-client {
        padding-bottom:0;
    }

    #cases .case-client .title {
        margin-bottom:15px;
    }

    #cases .box .lt,
    #cases .box .rt {
        width:100%;
        height:auto;
        padding:15px;
    }

    #cases .box img {
        box-sizing:border-box;
    }

    #cases .case-client li {
        width:33.333333%;
        font-size:12px;
        margin-top:15px;
    }

    /*联系我们*/
    .map-wrap {
        overflow:visible;
    }

    .map-wrap .map {
        background:transparent;
        padding:0;
    }

    .map-wrap .map .map-tags,
    .province {
        display:none;
    }

    .map-info {
        position:relative;
        height:auto;
        margin:auto;
        width:90%;
    }

    .map-info > .box {
        width:100%;
        box-sizing:border-box;
    }

    .map-info > .box .content-side > span {
        top:-60px;
    }

    .map-info > .box .content-side > span.next,
    .map-info > .box .content-side > span.prev {
        background:#d33331;
        color:#fff;
        text-indent:0;
        width:100px;
        height:30px;
        line-height:30px;
    }

    #welcome-text-wrap {
        padding:30px 0 70px 0;
    }

    #welcome-text-wrap > .text,
    #welcome-text-wrap > .qrcode {
        display:block;
        text-align:center;
    }

    #welcome-text-wrap > .lt > h3 {
        display:none;
    }

    #welcome-text-wrap > .lt > h3 + label {
        font-size:42px;
        margin-top:0;
    }

    #welcome-text-wrap > .lt > h3 + label + p {
        padding:0 15px;
    }

    #welcome-text-wrap > .rt {
        margin:auto;
        width:auto;
    }
}



