/*
     CSS Reset
理念：1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
     2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
     3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
/* ------- HTML5 display-role mb for older browsers ------- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
/** 设置默认字体 **/
body,
button,
input,
select,
textarea {
  font-size: 12px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
/* 将斜体扶正 */
code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}
/* 统一等宽字体 */
small {
  font-size: 12px;
}
/* 小于 12px 的中文很难阅读，让 small 正常化 */
address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
}
:focus {
  outline: 0;
}
small {
  font-size: 12px;
}
ul,
ol,
dl {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  outline: 0;
}
fieldset,
img {
  margin: 0;
  padding: 0;
  border: none;
}
a,
img {
  -webkit-touch-callout: none
  /* 禁止长按链接与图片弹出菜单 */
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}
p {
  text-align: justify;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
}
input,
button,
textarea {
  list-style-type: none;
  cursor: pointer;
  border: 0;
}
input:focus {
  outline: none;
}
ins {
  display: none;
  text-decoration: none;
}
/** 重置表单元素 **/
legend {
  color: #000;
}
/* for ie6 */
fieldset,
img {
  border: 0;
}
/* img 搭车：让链接里的 img 无边框 */
button,
input,
select,
textarea {
  font-size: 100%;
}
/* 使得表单元素在 ie 下能继承字体大小 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
::-moz-selection {
  color: #fff;
  background-color: #da271b;
}
::selection {
  color: #fff;
  background-color: #da271b;
}
body {
  font-size: 16px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.8);
  font-family: "微软雅黑", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
/* VARIABLE*/
/*ICON*/
.response-img {
  max-width: 100%;
  display: block;
  margin: 0 auto 0 auto;
}
.icon-fb:before {
  background: url("../img/icon-1.png") no-repeat -288px -150px;
}
.icon-qq:before {
  background: url("../img/icon-1.png") no-repeat -259px -202px;
}
.icon-tel:before {
  background: url("../img/icon-1.png") no-repeat -288px -94px;
}
.icon-wechat:before {
  background: url("../img/icon-1.png") no-repeat -311px -204px;
}
.icon-cs:before {
  background: url("../img/icon-1.png") no-repeat -288px -230px;
}
.icon-backtop:before {
  background: url("../img/icon-1.png") no-repeat -231px -230px;
}
.icon-Q:before {
  background: url("../img/icon-1.png") no-repeat -174px -152px;
}
.icon-C:before {
  background: url("../img/icon-1.png") no-repeat 0 -152px;
}
.icon-P:before {
  background: url("../img/icon-1.png") no-repeat -58px -152px;
}
.icon-E:before {
  background: url("../img/icon-1.png") no-repeat -116px -152px;
}
/* LAYOUT  STYLE*/
.container {
  margin: 0 auto 0 auto;
  width: 1170px;
  height: auto;
  overflow: hidden;
}
#mask {
  position: fixed;
  z-index: 99;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: '';
  display: block;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.block {
  display: block;
}
.hide {
  display: none;
}
.h-auto {
  height: auto;
  overflow: hidden;
}
.pos-f {
  position: fixed;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.pd-v50 {
  padding: 50px 0;
}
.pd-h50 {
  padding: 0 50px;
}
.toTable {
  height: auto;
  overflow: hidden;
  width: 100%;
  display: table;
}
.toTable > .lt,
.toTable > .rt {
  display: table-cell;
  vertical-align: middle;
}
/*LINK  STYLE*/
#link-defalt {
  color: #00b9d1;
  display: block;
}
#link-defalt:hover {
  color: #6699ff;
}
#link-defalt .main-nav {
  display: block;
  border-bottom: #da271b solid 6px;
}
#link-defalt .main-nav:hover {
  background-color: #ff0000;
}
/*TEXT STYLE*/
p {
  font-family: "STSongti-SC-Light", "宋体", "微软雅黑", sans-serif;
  line-height: 1.6;
}
.fontSong {
  font-family: "STSongti-SC-Light", "宋体", "微软雅黑", sans-serif;
  line-height: 1.6;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.f10 {
  font-size: 10px;
}
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f24 {
  font-size: 24px;
}
.f26 {
  font-size: 26px;
}
.f28 {
  font-size: 28px;
}
.f32 {
  font-size: 32px;
}
/* FONT COLOR*/
/*SNIPPET*/
.wrap {
  padding: 110px 0 80px 0;
  overflow: hidden;
  height: auto;
}
.wrap .title figcaption h3 {
  position: relative;
  margin: 0 auto 0 auto;
  font-size: 28px;
  font-family: "微软雅黑";
  font-style: normal;
  font-weight: 400;
  border-bottom: 1px solid #e1e1e1;
  display: inline-block;
  padding: 0 90px 20px;
}
.wrap .title figcaption h3:after {
  position: absolute;
  content: "";
  margin-top: -2px;
  margin-left: -35px;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 3px;
  background-color: #d33331;
  top: auto;
  bottom: -2px;
}
.wrap .title.reversion figcaption h3 {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.wrap .title.reversion figcaption h3:after {
  background-color: #ffffff;
}
.wrap .title.reversion p {
  color: #ffffff;
}
.wrap .title > p {
  font-family: "STSongti-SC-Light", "宋体", "微软雅黑", sans-serif;
  line-height: 1.6;
  text-align: center;
  padding-top: 20px;
}
.wrap .more {
  display: inline-block;
}
.wrap .more > a {
  color: #333333;
}
.wrap .more:after {
  content: "";
  float: right;
  margin-top: 7px;
  margin-left: 5px;
  color: #333333;
  background: url("../img/icon-1.png") no-repeat -343px -26px;
  display: block;
  width: 14px;
  height: 14px;
}
.wrap .more:hover {
  text-decoration: underline;
}
.wrap .more:hover:after {
  background: url("../img/icon-1.png") no-repeat -343px 0;
}
.banner {
  position: relative;
}
.banner img {
  max-width: 100%;
}
#welcome-text-wrap {
  display: table;
  padding: 170px 0 70px 0;
  height: auto;
  overflow: hidden;
}
#welcome-text-wrap > .text,
#welcome-text-wrap > .qrcode {
  display: table-cell;
  vertical-align: middle;
}
#welcome-text-wrap > .lt > h3 {
  font-size: 24px;
  color: #d33331;
}
#welcome-text-wrap > .lt > h3 > span:only-child {
  color: #333333;
  padding-left: 20px;
}
#welcome-text-wrap > .lt > h3 + label {
  display: block;
  font-size: 18px;
  margin-top: 30px;
}
#welcome-text-wrap > .lt > h3 + label + p {
  font-size: 14px;
  line-height: 1.8;
}
#welcome-text-wrap > .rt {
  text-align: center;
  width: 130px;
}
#welcome-text-wrap > .rt img:only-of-type {
  display: block;
  margin: 0 auto 0 auto;
}
.map-wrap {
  padding-bottom: 100px;
}
.map-wrap .map {
  position: relative;
  margin: 0 auto 0 auto;
  padding-right: 20px;
  height: 549px;
  background: url("../img/icon-7.png") no-repeat 0 0 #ffffff;
}
.map-wrap .map .map-tags {
  position: relative;
  overflow: hidden;
  width: 710px;
  height: 580px;
}
.province span:after,
.map-tags li:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -6px;
  width: 0;
  height: 0;
  border-top: 6px solid #d5d4d4;
  border-right: 6px solid transparent;
}
.map-tags > li {
  position: absolute;
  text-align: center;
  font-size: 14px;
  z-index: 101;
  width: 60px;
  height: 20px;
  line-height: 20px;
  background: #d5d4d4;
  color: #333333;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(36, 36, 36, 0.86)
  /****北京****/
  /****天津****/
  /****江苏****/
  /****上海****/
  /****浙江****/
  /****广东****/
}
.map-tags > li.active,
.map-tags > li:hover {
  z-index: 999;
  background: #ea5413;
  color: #ffffff;
}
.map-tags > li.active:after,
.map-tags > li:hover:after {
  border-top: 6px solid #ea5413;
  border-right: 6px solid transparent;
}
.map-tags > li[data-id=beijing] {
  top: 181px;
  left: 516px;
}
.map-tags > li[data-id=beijing] > .cityList {
  top: -58px;
}
.map-tags > li[data-id=tianjin] {
  top: 211px;
  left: 530px;
}
.map-tags > li[data-id=jiangsu] {
  left: 520px;
  top: 260px;
}
.map-tags > li[data-id=jiangsu] > .cityList {
  top: -22px;
}
.map-tags > li[data-id=shanghai] {
  top: 330px;
  left: 589px;
}
.map-tags > li[data-id=zhejiang] {
  left: 580px;
  top: 360px;
}
.map-tags > li[data-id=guangdong] {
  left: 480px;
  top: 490px;
}
.map-tags > li > .cityList {
  position: absolute;
  right: -65px;
  top: 0;
  border: 1px solid #cccccc;
  content: '';
  background: #ffffff;
  z-index: 9;
  width: 60px;
  overflow: hidden;
  border-radius: 4px;
}
.map-tags > li > .cityList .city {
  font-size: 12px;
  display: block;
  height: 26px;
  line-height: 26px;
  color: #333333;
}
.map-tags > li > .cityList .city.active {
  color: #ea5413;
  font-weight: 600;
}
.map-info {
  position: absolute;
  top: 0;
  right: 0;
  height: 400px;
}
.map-info > .box {
  font-size: 14px;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 6px;
  padding: 15px 30px;
  width: 340px;
  height: auto;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
.map-info > .box > p {
  font-size: 16px;
  font-weight: 600;
}
.map-info > .box > p:nth-of-type(2) {
  margin-top: 20px;
}
.map-info > .box > ul > li {
  line-height: 30px;
  height: auto;
  overflow: hidden;
  width: 100%;
  display: table;
  font-size: 12px;
}
.map-info > .box > ul > li > .lt,
.map-info > .box > ul > li > .rt {
  display: table-cell;
  vertical-align: middle;
}
.map-info > .box > ul > li > span {
  word-break: break-all;
}
.map-info > .box > ul > li > label {
  width: 60px;
  text-align: right;
  display: table-cell;
}
.map-info > .box .content-side {
  position: relative;
  height: auto;
  overflow: hidden;
  width: 100%;
  display: table;
  text-align: center;
  padding: 10px 0;
  height: 165px;
  overflow: visible;
}
.map-info > .box .content-side > .lt,
.map-info > .box .content-side > .rt {
  display: table-cell;
  vertical-align: middle;
}
.map-info > .box .content-side .pic-box {
  height: 100%;
  display: table-cell;
}
.map-info > .box .content-side img {
  max-width: 85%;
  height: auto;
  vertical-align: middle;
}
.map-info > .box .content-side:after {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.map-info > .box .content-side > span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 99;
  text-indent: -999999px;
}
.map-info > .box .content-side > span.prev {
  left: -30px;
  background: url("../img/icon-7.png") no-repeat 0 -549px;
}
.map-info > .box .content-side > span.next {
  right: -30px;
  background: url("../img/icon-7.png") no-repeat -30px -549px;
}
/*# sourceMappingURL=contact.css.map */